{% extends 'base.html' %}

{% block content %}
    <main class="container">             
        <div class="row g-5">
            <div class="col-md-8">                
                
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
                    <div class="col p-4 d-flex flex-column position-static">                        
                        <h3 class="mb-0">{{ post }}</h3>                        
                        <div class="mb-1 text-body-secondary">{{ post.created_at | timesince }} ago | {{ post.auther}}</div>
                        <p class="card-text mb-auto">
                           {{ post.short_desc |linebreaks }}
                        </p>

                        <img src="{{ post.feature_image.url}}">
                        <p> {{ post.blog_body |linebreaks }}</p>

                        <br>
                        <div class="form-group">
                            <h4>Add a comment</h4>
                            <form method="post" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <textarea name="comment" col="30" class="form-control" rows="5" placeholder="Write your comment "></textarea>
                                    <input type="submit" value="Submit" class="btn btn-warning mt-1"/>
                                </div>

                            </form>
                        </div>
                        <br>

                        <!-- comments -->
                        {% if comments %}
                        <div class="row d-flex">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body p-4">
                                        <h4 class="mb-4 pb-2">Comments ({{ comments_count }})</h4>

                                        <div class="row" style="max-height: 200px;overflow-y: scroll;">
                                            {% for comment in comments %}
                                                <div class="d-flex flex-start mb-3">
                                                    <i class="fa fa-user-circle rounded-circle shadow-1-strong me-3 fa-2x"></i>

                                                    <div class="flex-grow-1 ms-3">
                                                        <p class="mb-1">
                                                            <strong class="text-capitalize">{{ comment.user.username }}</strong>
                                                            <span class="small text-muted">
                                                                - {{ comment.created_at|timesince }} ago
                                                            </span>
                                                        </p>

                                                        <p class="small mb-2">
                                                            {{ comment.comment }}
                                                        </p>
                                                    </div>
                                                </div>
                                                <hr class="mb-1" />
                                            {% endfor %}
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <p>No comments yet. Be the first to comment!</p>
                        {% endif %}                       

                    </div>                    
                </div>             
            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem">                    
                    <div>                      
                        <h4 class="pb-4 mb-4 fst-italic border-bottom text-uppercase text-warning" style="letter-spacing:2px;margin-top:16px;">Recent posts</h4>     
                        <ul class="list-unstyled">
                            {% for post in recent_posts %}
                            <li>
                                <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                                    href="{% url 'blog_details' post.slug %}">
                                    
                                    <img src="{{ post.feature_image.url }}" class="bd-placeholder-img"  width="150px">
                                    <div class="col-lg-8">
                                        <h6 class="mb-0">{{ post}}</h6>
                                        <small class="text-body-secondary">{{ post.updated_at | date:"F Y"  }}</small>
                                    </div>
                                </a>
                            </li>   
                            {% endfor %}                                             
                        </ul>
                    </div>
                    <div class="p-4">
                        <h4 class="fst-italic">Archives</h4>
                        <ol class="list-unstyled mb-0">
                            {% for m in blog_month %}
                             <li><a href="{% url 'blogs_list' m|date:'Y' m|date:'n' %}">{{ m | date:"F Y" }}</a></li>
                            {% endfor %}
                           
                        </ol>
                    </div>
                    
                </div>
            </div>
        </div>
    </main>


  {% endblock  %}