{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<div class="container">
    <h3 class="text-center mt-5 text-uppercase text-warning">Login</h3>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">                     

            <form action="{% url 'login' %}" method="POST">
                {%  csrf_token %}

                {{ form | crispy }}

                <button type="submit" class="btn btn-warning mt-1 mb-5">Submit</button>
            </form>


        </div>
    </div>    

</div>

{% endblock %}