{% extends 'base.html' %}

{% block content %}



{% include 'dashboard/sidebar.html' %}


     <!--right side baar-->
    <div class="col-md-9">
        
        <div class="table-responsive">
            <h3>All Posts
            <a href="{% url 'add_posts' %}" class="btn btn-dark text-light float-right mb-2">Add New</a>
            </h3>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Category</th>                       
                        <th>Status</th>
                        <th>Featured</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bl in blogs %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ bl }}</td>
                        <td>{{ bl.category.category_name}}</td>                        
                        <td>{{ bl.status }}</td>
                        <!-- <td>{{ bl.is_featured }}</td> -->
                        <td>
                            {% if bl.is_featured %} <i class="fa fa-check text-success"></i> {% else %} 
                            <i class="fa fa-times text-danger"></i> {% endif %}</td>
                        <td>
                            <a href="{% url 'edit_posts' bl.id %}"><i class="fa fa-edit text-success"></i></a>&nbsp;
                            <a href="{% url 'delete_posts' bl.id %}"><i class="fa fa-trash text-danger"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>


{% endblock  %}